<div class="chatroom">
  <h1>Messages</h1>
  <div class="message">
  	<i class="fas fa-user"></i>
  	<p>Hi there! I'd love to...</p>
  	<i class="fas fa-thumbs-up"></i>
  </div>

  <div class="footer">
		<button type="button" class="btn btn-success">Profile</button>
		<button type="button" class="btn btn-success">Swipe</button>
		<button type="button" class="btn btn-success">Logout</button>
	</div>
</div>
