<div class="chatroom">
  <div class="header">
    <img class="home-logo" src="https://res.cloudinary.com/kristynadierstein/image/upload/v1563013946/Sa-c_zwfdj3.png" alt="">
  </div>
  <h1>Your messages</h1>
  <div class="message">
  	<img src="https://res.cloudinary.com/kristynadierstein/image/upload/v1560617163/GElias/36003103_10217137032079942_3558751743313444864_o_itsue7.jpg" alt="" class="avatar-pic">
  	<div class="message-topline">
      <h5>From: Javier</h5>
      <p>Hi there! I'd love to...</p>
    </div>
  	<i class="fas fa-thumbs-up"></i>
  </div>

  <div class="footer">
    <button type="button" class="btn-chatroom">Profile</button>
    <button type="button" class="btn-chatroom">Swipe again</button>
    <button type="button" class="btn-chatroom">Logout</button>
  </div>
</div>
