<div class="login">
  <div class="header">
    <img class="home-logo" src="https://res.cloudinary.com/kristynadierstein/image/upload/v1563013946/Sa-c_zwfdj3.png" alt="">
  	<h1>Thé</h1>
  	<h3>place to share and learn</h3>
  </div>
	<div class="login-buttons">
	  <button type="button">Login</button>
	</div>
</div>
