<!-- 
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,800">
<div id="container">
  <div id="hook"></div>
  <h1>Play Music</h1>
  <input type="file" id="files" name="files[]" multiple />
</div>
<%= javascript_pack_tag('background') %>
<script crossorigin src="https://unpkg.com/react@15/dist/react.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>
<script src="https://npmcdn.com/babel-core@5.8.38/browser.min.js"></script>
<script src="https://soulwire.github.io/sketch.js/js/sketch.min.js"></script>
<script type="text/babel">  
	function OurFirstComponent() {    
	  return (      <h1>I am the child!</h1>    );  
	}   
	function Container() {    
	return (
		<div>
			<h1>I am the parent!</h1>
			<OurFirstComponent />
		</div>
	);}
	const placeWeWantToPutComponent = document.getElementById('hook');  
	ReactDOM.render(<Container />, placeWeWantToPutComponent);

	</script>

 -->

 <iframe id="inlineFrameExample"
    title="Inline Frame Example"
    width="100%" 
    height="100%" 
    src="https://jackiechao1.github.io/the-login"/>
</iframe>
