<div class="login">
	<h1>Thé</h1>
	<h2>LOGO GOES HERE</h2>
	<h3>A place to share & learn from each other around a cup of tea...</h3>
	<div class="login-buttons">
	  <button type="button" class="btn btn-success">Login</button>
	</div>
</div>
