<div class="login">
  <div class="header">
    <img class="home-logo" src="https://res.cloudinary.com/kristynadierstein/image/upload/v1563034342/Group_zxzqyn.svg" alt="">
  	<div class="tagline">
      <h1>Thé</h1>
    	<h3>A place to share and learn</h3>
    </div>
  </div>
	<div class="login-buttons">
	  <button type="button">Let's start!</button>
	</div>
</div>
