<div class="match_profile">
  <div class="match-avatar-container">
      <img src="https://res.cloudinary.com/kristynadierstein/image/upload/v1560617163/GElias/36003103_10217137032079942_3558751743313444864_o_itsue7.jpg" alt="" class="avatar-pic">
      <h1>Matilde</h1>
      <p class="match-distance">Lives in Mile End (Montreal, Canada), 1.7km far away</p>
      <p class="match-about-me">Hello, I am Matilde. I am 58 years old, I have one big family with kids and 13 grand-children. I enjoy my time at our lake cottage near White Lake and I love cooking and gardening. </p>
  </div>

<div class="match-skill-set">
  <div class="skills">
    <p>Skills I offer to teach</p>
    <ul class="skills-list">
      <li>cooking</li>
      <li>pastry</li>
      <li>creative writing</li>
      <li>sewing</li>
      <li>gardening</li>
    </ul>
  </div>

  <div class="competencies">
    <p>I am interested in learning</p>
    <ul class="competencies-list">
      <li>use my tablet</li>
      <li>online shopping</li>
      <li>help with insurance deals</li>
    </ul>
  </div>
</div>

<div class="match-messages">
    <input class="message-box" type="text" placeholder="Write a message to your match">
    <button class="btn-message">Send message</button>
</div>

</div>
