<div class="swiper">
  <div class="header">
    <img class="home-logo" src="https://res.cloudinary.com/kristynadierstein/image/upload/v1563034342/Group_zxzqyn.svg" alt="">
  </div>
	<div class="profile-img">
		<img src="https://res.cloudinary.com/kristynadierstein/image/upload/v1560617163/GElias/36003103_10217137032079942_3558751743313444864_o_itsue7.jpg" alt="" class="avatar-pic">
    <h1> Bobbie, 58 </h1>
    <p> Bobbie lives in Mile End, Montreal</p>
    <span>
    <i>1.7km far away</i>
	</div>
	<div class="dropdowns">
    <div class="skills">
      <i>Skills I offer to teach</i>
      <ul>
        <li>Tooling</li>
        <li>Gardening</li>
        <li>Carpentry</li>
      </ul>
    </div>

    <div class="competencies">
      <i>I am interested in learning</i>
      <ul>
        <li>Computer basics</li>
        <li>Internet browsing</li>
        <li>Open email account</li>
      </ul>
    </div>
  </div>
	<div class="footer">
<!-- 		<button type="button" class="btn-swiper">Profile</button>
		<button type="button" class="btn-swiper">Messages</button>
		<button type="button" class="btn-swiper">Logout</button> -->
    <i class="fas fa-times"></i>
    <i class="fas fa-check"></i>

	</div>
</div>
