<div class="swiper">
	<div class="profile-img">
		Profile img
	</div>
	<div class="swiper-display-info"> 
		<div class="personal-info">
			<div class="profile-summary">
				<div class="name">
					Mathilde
				</div>
				<div class="learn-btn">
					Let's learn
				</div>
			</div>
			<div class="data-display">
				<div class="age">
					Age
				</div>
				<div class="location">
					Montreal(Mile-End)
				</div>
				<div class="distance">
					1.7 km
				</div>
		  </div>
		</div>
		<div class="competencies">
			<div class="skills">
				<ul>
					<li>Cooking</li>
					<li>Writing</li>
					<li>Gardening</li>
				</ul>
			</div>
			<div class="interests">
				<ul>
					<li>Manage e-mail</li>
					<li>Using a Tablet</li>
					<li>Online Banking</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer">
		<button type="button" class="btn btn-success">Profile</button>
		<button type="button" class="btn btn-success">Messages</button>
		<button type="button" class="btn btn-success">Logout</button>
	</div>
</div>
