<div class="user_profile">
  <div class="header">
    <img class="home-logo" src="https://res.cloudinary.com/kristynadierstein/image/upload/v1563034342/Group_zxzqyn.svg" alt=""/>
    <h2 class="welcome-msg"> Welcome, Matilde</h2>
  </div>

  <div class="avatar-container">
    <div class="picture-upload">
      <img src="https://res.cloudinary.com/kristynadierstein/image/upload/v1560617163/GElias/36003103_10217137032079942_3558751743313444864_o_itsue7.jpg" alt="" class="avatar-pic">
      <div class="avatar-btn-upload">
        <i class="fas fa-edit"></i>
      </div>
    </div>
    <div class="input">
      <input id="username"type="text" placeholder="Matilde67">
      <input id="age"type="text" placeholder="67">
      <input id="zip-code"type="text" placeholder="H1W 3C4">
      <input id="email"type="text" placeholder="matilde@the.com">
      <input id="aboutme"type="text" placeholder="Info about Matilde....">
    </div>
  </div>

  <div class="dropdowns">
    <div class="skills">
      <i>Skills I offer to teach</i>
      <select name="" id="" select multiple="multiple" >
        <option value="">
          <span>manage email</span>
        </option>
        <option>
          <span>using tablet</span>
        </option>
        <option>
          <span>online banking</span>
        </option>
        <option>
          <span>vegan meals</span>
        </option>
        <option>
          <span>find transport deals</span>
        </option>
        <option>
          <span>promotional offers</span>
        </option>
        <option>
          <span>help with insurance deals</span>
        </option>
      </select>
    </div>

    <div class="competencies">
      <i>I am interested in learning</i>
      <select name="" id="" select multiple="multiple" >
        <option value="">
          <span>manage email</span>
        </option>
        <option>
          <span>using tablet</span>
        </option>
        <option>
          <span>online banking</span>
        </option>
        <option>
          <span>vegan meals</span>
        </option>
        <option>
          <span>find transport deals</span>
        </option>
        <option>
          <span>promotional offers</span>
        </option>
        <option>
          <span>help with insurance deals</span>
        </option>
      </select>
    </div>
  </div>
  <div class="user-profile-btn">
    <button class="user-save">Start swiping!</button>
  </div>

</div>
