<div class="user_profile">
  <div class="header">
    <p>Profile</p>
  </div>

  <div class="avatar-container">
    <div class="picture-upload">
      <img src="https://res.cloudinary.com/kristynadierstein/image/upload/v1560617163/GElias/36003103_10217137032079942_3558751743313444864_o_itsue7.jpg" alt="" class="avatar-pic">
      <button class="avatar-btn-upload">Upload</button>
    </div>
    <div class="input">
      <input id="username"type="text" placeholder="your username">
      <input id="age"type="text" placeholder="your age">
      <input id="zip-code"type="text" placeholder="ZIP code">
      <input id="email"type="text" placeholder="your email">
      <input id="aboutme"type="text" placeholder="about me">
    </div>
  </div>

  <div class="dropdowns">
    <div class="skills">
      <p>Skills I offer to teach</p>
      <select name="" id="" select multiple="multiple" >
        <option value="">
          <span>manage email</span>
        </option>
        <option>
          <span>using tablet</span>
        </option>
        <option>
          <span>online banking</span>
        </option>
        <option>
          <span>vegan meals</span>
        </option>
        <option>
          <span>find transport deals</span>
        </option>
        <option>
          <span>promotional offers</span>
        </option>
        <option>
          <span>help with insurance deals</span>
        </option>
      </select>
    </div>

    <div class="competencies">
      <p>I am interested in learning</p>
      <select name="" id="" select multiple="multiple" >
        <option value="">
          <span>manage email</span>
        </option>
        <option>
          <span>using tablet</span>
        </option>
        <option>
          <span>online banking</span>
        </option>
        <option>
          <span>vegan meals</span>
        </option>
        <option>
          <span>find transport deals</span>
        </option>
        <option>
          <span>promotional offers</span>
        </option>
        <option>
          <span>help with insurance deals</span>
        </option>
      </select>
    </div>
  </div>
  <div class="user-profile-btn">
    <button class="user-save">SAVE</button>
  </div>

</div>
