.login {
  // put all styling here inside these braces
  display: flex;
	text-align: center;
	justify-content: center;
	flex-direction: column;
	

	.login-buttons {
		display:flex;
		justify-content: center;
		flex-wrap: wrap;
		flex-direction: column;
		max-width: 48px;
		margin: 0 auto;
		button {
			margin: 3px;
		}
	}
	body {
  background: #f9f9f9;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

#container {
  position: relative;
  z-index: 2;
  padding-top: 100px;
}

.play {
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 60px solid #2c3e50;
  margin: 100px auto 50px auto;
  position: relative;
  z-index: 1;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  left: 10px;
}

.play:before {
  content: '';
  position: absolute;
  top: -75px;
  left: -115px;
  bottom: -75px;
  right: -35px;
  border-radius: 50%;
  border: 10px solid #2c3e50;
  z-index: 2;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}
.play:after {
  content: '';
  opacity: 0;
  transition: opacity 0.6s;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
}
.play:hover:before, .play:focus:before {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}
.play.active {
  border-color: transparent;
}
.play.active:after {
  content: '';
  opacity: 1;
  width: 25px;
  height: 80px;
  position: absolute;
  right: 8px;
  top: -40px;
  border-right: 20px solid #2c3e50;
  border-left: 20px solid #2c3e50;
}

canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

audio {
  position: fixed;
  left: 10px;
  bottom: 10px;
  width: calc(100% - 20px);
}
.login-buttons {
		#test {
			color: black!important;
		}
    display:flex;
    justify-content: center;
    max-width: 48px;
    margin: 0 auto;
    position: absolute;
    a {
      margin: 100px;
     -moz-box-shadow:inset 0px 1px 0px 0px #FAF4ED;
     -webkit-box-shadow:inset 0px 1px 0px 0px #FAF4ED;
     box-shadow:inset 0px 1px 0px 0px #FAF4ED;
     background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #FAECDE), color-stop(1, #FDDBB7));
     background:-moz-linear-gradient(top, #FAECDE 5%, #FDDBB7 100%);
     background:-webkit-linear-gradient(top, #FAECDE 5%, #FDDBB7 100%);
     background:-o-linear-gradient(top, #FAECDE 5%, #FDDBB7 100%);
     background:-ms-linear-gradient(top, #FAECDE 5%, #FDDBB7 100%);
     background:linear-gradient(to bottom, #FAECDE 5%, #FDDBB7 100%);
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAECDE', endColorstr='#FDDBB7',GradientType=0);
     background-color:#FAECDE;
     -moz-border-radius:6px;
     -webkit-border-radius:6px;
     border-radius:6px;
     border:1px solid #FDDBB7;
     display:inline-block;
     cursor:pointer;
     color:#003636;
     font-variant:small-caps;
     font-variant:small-caps;
     font-size:15px;
     font-weight:bold;
     padding:12px 38px;
     text-decoration:none;
     text-shadow:0px 1px 0px #FDDBB7;
     font-size: 2em;
    }
}
h1 {
		font-size: 3em;
	}
}


