.match_profile {



  .match-avatar-container {
    display:inline-block;
    text-align: center;

  }

  .avatar-pic {
    width: 40px;
    height: 40px;
    border-radius: 40px;

  }

  .match-distance {

  }

  .match-about-me {

  }

  .match-skill-set {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin:auto;

  }

  .skills {

  }

  .skills-list {

  }

  .competencies {

  }

  .competencies-list {

  }

  .match-messages {
    display:flex;
    flex-direction: column;
    margin-left:auto;
    margin-right:auto;
    width: 80%;

  }

  .message-box {
    height: 200px;

  }

  .btn-message {
   -moz-box-shadow:inset 0px 1px 0px 0px #FAF4ED;
    -webkit-box-shadow:inset 0px 1px 0px 0px #FAF4ED;
    box-shadow:inset 0px 1px 0px 0px #FAF4ED;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #FAECDE), color-stop(1, #FDDBB7));
    background:-moz-linear-gradient(top, #FAECDE 5%, #FDDBB7 100%);
    background:-webkit-linear-gradient(top, #FAECDE 5%, #FDDBB7 100%);
    background:-o-linear-gradient(top, #FAECDE 5%, #FDDBB7 100%);
    background:-ms-linear-gradient(top, #FAECDE 5%, #FDDBB7 100%);
    background:linear-gradient(to bottom, #FAECDE 5%, #FDDBB7 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAECDE', endColorstr='#FDDBB7',GradientType=0);
    background-color:#FAECDE;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #FDDBB7;
    display:inline-block;
    cursor:pointer;
    color:#003636;
    font-variant:small-caps;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #FDDBB7;
    width: 92px;
    margin-top: 6px;
    align-self: center;
  }

}
