.match_profile {

  .match-username {

  }

  .match-avatar-container {
    display:inline-block;
    text-align: center;

  }

  .match-picture {

  }

  .avatar-pic {
    width: 40px;
    height: 40px;
    border-radius: 40px;

  }

  .match-distance {

  }

  .match-about-me {

  }

  .match-skill-set {
    text-align: center;
  }

  .skills-list {
    display:inline-block;
  }

  .list {
    float:left;
  }

  .competencies-list {
  display:inline-block;
  }


}
