.user_profile {

  .header {
    display:flex;
    justify-content: center;
  }

  .avatar-container {

  }

  .picture-upload {

  }

  .avatar-pic{
    display:inline-block;
    justify-content:center;
    width: 40px;
    height: 40px;
    border-radius: 40px;

  }

  .avatar-btn-upload {

  }

  .input {

  }

  #username {

  }

  #age {

  }

  #zip-code {

  }

  #email {

  }

  #aboutme {

  }

  .dropdowns {

  }

  .skills {

  }

  .competencies {

  }

  .user-profile-btn {

  }

  .user-save {

  }
}
